.admin-button {
  background-color: #dda15e;
  color: #fefae0;
  width: 20%;
  font-size: 30px;
  padding: 5%;
  border-radius: 12px;
  margin: 10px 5%;
  border: white;
}
.admin-button:hover {
  color: #bc6c25;
  background-color: #fefae0;
}
