.admin-button{
    background-color: #DDA15E;
    color: #FEFAE0;
    width: 20%;
    font-size: 30px;
    padding: 5% ;
    border-radius: 12px;
    margin: 10px 5%;
    border: white;
}
.admin-button:hover {
    color:#BC6C25;
    background-color: #FEFAE0;
}